
<div class="container">
  <div class="row">
    <h2 style="color: #3e3e3e; letter-spacing: 1.5px; text-align:center; margin-top: 80px;">SmartDictionary</h2>
  </div>
  
  <div class="row">
    <%= form_tag(root_path, method: 'get', remote: true ) do %>      
      <div class="form-group">
        <div class="col-lg-offset-3 col-lg-6">             
          <%= text_field_tag :search, nil, placeholder: 'Enter search term...',:class => 'form-control'%> 
        </div>

        <%= submit_tag 'Search' ,:class => "btn btn-default btn-primary" %>
        
      </div>        
    <% end %>
  </div>
    
  <div id="loading-indicator">
    <%= image_tag("loading.svg", :id => "loading-indicator") %>
  </div>

  <div id="contents" style="margin-top: 20px;"></div>
</div>
 



